<body>
  <div id="main-content" style="display: none;">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <h1 class="sitename">WastiBot</h1>
      </a>
  
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Nueva conversación</a></li>
        </ul>
      </nav>
    </div>
  </header> 

  <main class="main">
    <!-- Chat Section -->
    <section id="chat" class="chat section dark-background">
      <div class="container"> 
        <div class="nav-bar">
          <a>Chat</a>
          <div class="close">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
        </div>
        <div class="messages-area">
          <div class="message one sender"><p>¡Hola, soy Wasti! ¿Cómo te llamas?</p></div>
          <div class="message two receiver"><p>Hola, Wasti, soy Alinne.</p></div>
        </div>
        <div class="sender-area">
          <div class="input-container">
            <input type="text" placeholder="¡Envía un mensaje a Wasti!">
            <button class="button">Enviar</button>
          </div>
        </div>
      </div>
    </section><!-- /Chat Section -->
  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container1 copyright text-center">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">WastiBot</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="#">Blitz Tech Squad</a>
      </div>
    </div>

  </footer>
</div>
  <!-- Preloader -->
  <div id="preloader">
    <div class="tree">
      <div class="branch" style="--x:0">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
      </div>
      <div class="branch" style="--x:1">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
      </div>
      <div class="branch" style="--x:2">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
      </div>
      <div class="branch" style="--x:3">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
      </div>
      <div class="stem">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
      </div>
      <span class="shadow"></span>
    </div>
  </div>

<!-- Animación de inicio -->
<div id="animacionInicial">
  <img src="/assets/saludando.gif" alt="Wasti te saluda">
  <div class="textoInicial">
    <div class="keyboard">
      <span class="key"><b data-text="W">W</b></span>
        <span class="key"><b data-text="A">A</b></span>
        <span class="key"><b data-text="S">S</b></span>
        <span class="key"><b data-text="T">T</b></span>
        <span class="key"><b data-text="I">I</b></span>
      <span class="key">B</span>
      <span class="key">O</span>
      <span class="key">T</span>
    </div>
  </div>
  <p class="cursor typewriter-animation">Tu guía perfecto para vivir la magia navideña</p>
  <span class="shadow"></span>
</div>
