/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mountains+of+Christmas:wght@400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonts */
:root {
    --christmas-font:"Mountains of Christmas", serif;
    --default-font: "Barlow", sans-serif;
    --heading-font: "Barlow", sans-serif;
    --nav-font: "Barlow", sans-serif;
  }
  
  :root {
    --background-color: rgb(244, 249, 251);
    --default-color: #f8f8f8; 
    --heading-color: #283d50; 
    --accent-color: #7f5b00ea; 
    --b-color: #ececec; 
    --contrast-color: #223d46; 
    --footer-color: rgb(34,61,70);
    --focus-color:rgb(244, 249, 251);
    --messagebackground-color:#7699ad;
    --amarillo-oscuro: #ca940a;
    --oro-highlight: #F0BB7A;
    --oro-shadow: #DE9945;
    --background-message-sender:#4b5563;
  }
  
  :root {
    --nav-text-color: #594000; 
    --nav-text-color-lighter: #8e6601d1; 
    --nav-hover-text-color: #ffffff; 
    --nav-fill-color: #594000; 
    --nav-hover-fill-color:#ffffff; 
  }
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
  body {
    width: 100%;
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
    margin: 0;
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
    font-weight: 700;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }

  b {
    color: var(--b-color);
    font-weight: 600;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }
  
 